body {
  margin: 0;
  font-family: Arial;
  background: #f5f6fa;
}

/* căn giữa */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* box login */
.login-box {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}

/* input đẹp hơn */
.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;

  border: 1px solid #ddd;
  border-radius: 6px;

  font-size: 14px;
}

/* focus */
.login-box input:focus {
  outline: none;
  border: 1px solid #667eea;
}

/* button */
.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;

  background: #667eea;
  color: white;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  font-weight: bold;
}

/* hover */
.login-box button:hover {
  background: #5a67d8;
}
