body {
  font-family: Arial;
  background: linear-gradient(135deg, #e0eafc, #cfdef3);
}

.container {
  width: 1000px;
  margin: 50px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
}

.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: #4CAF50;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.search-box {
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

th {
  background: #4CAF50;
  color: white;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#toast {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.toast-msg {
  background: #333;
  color: #fff;
  padding: 12px 20px;
  margin-top: 10px;
  border-radius: 6px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.4s;
}

.toast-msg.show {
  opacity: 1;
  transform: translateX(0);
}

.toast-success {
  background: #4CAF50;
}

.toast-error {
  background: #f44336;
}
.input-error {
  border: 2px solid red;
}
#musicBtn {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;

  font-size: 15px;
  padding: 10px;
  border-radius: 50%;
  border: none;
  background: #333;
  color: #fff;
  cursor: pointer;
}
#logo {
  display: block;
  margin: 10px auto; /* 👉 căn giữa ngang */
  width: 120px;
}
#kpiModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 999;
}

#modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}
